# Day 2 - Understanding Data Types and How to Manipulate Strings:

## Data Types:

* Strings
* Integer 
* Float
* Boolean

### Strings:

* Text type: " "

In [2]:
"Hello"[4] #you can call an specific character, starting by 0

'o'

In [1]:
print("123" + "342") #here, we are only concatenating two STRINGS, it will not do an operation, because it's treated as an text

123342

### Integer:

* TRUE NUMBERS, with NO DECIMAL.
* To LARGE INTEGERS, we replace "," with "_":

In [6]:
print(123_234+2341) #here, the numbers are treated like operational numbers, TRUE NUMBERS!

125575

### Float:

* Floating point numbers, DECIMAL NUMBERS:

In [7]:
print(3131.42 + 123)

3254.42

### Boolean:

* Only two possible values
* True
* False

## Converting Data Types:

### Data Analisys:

* To obtain the type of data in an code, you can use the function: type()

In [12]:
# num_char = len(input("What's your name? "))
# new_num_char = str(num_char)
# print("Your name has " + new_num_char + " characters")
# type(num_char)

### Conversions:

* To make conversions between data types, you need to create a new variable, and call the function correspondently:

str()
int()
float()

## Exercise:

* BMI Calculator
* Convert Strings into Numbers (hint: new variables, int(), str(), float() )
* Make a new variable with the math that returns bmi: Weight(Kg) / HeightÂ² (mÂ²)
* Print the result

In [46]:
# 1st input: enter height in meters e.g: 1.65
height = input()
# 2nd input: enter weight in kilograms e.g: 72
weight = input()
# ðŸš¨ Don't change the code above ðŸ‘†

# Write your code below this line ðŸ‘‡
new_height = float(height)
new_weight = int(weight)

bmi = int(new_weight / new_height ** 2)
print(bmi)

 1.80
 60

18

## Number Manipulation with Python

* To round numbers, you can use the function: round( )

* Using // you turn the number into a int data type without rount it

In [49]:
print(type(8 // 3))

<class 'int'>

* Using / you get a float number

In [50]:
print(type(8 / 3))

<class 'float'>

## f-Strings:

* Useful to combine different data types inside strings
* You should start the f-strings like: f"content"
* You can put variables inside an f-string, just by using {variable} inside the string, like: f"content {variable}... content {variable}"

### Example:

In [52]:
score = 0
height = 1.8
isWinning = True

#f-String
print(f"your score is {score}m your height is {height}, you are winning is {isWinning}.")

your score is 0m your height is 1.8, you are winning is True.

In [55]:
age = input()
# ðŸš¨ Don't change the code above ðŸ‘†
# Write your code below this line ðŸ‘‡
years = 90 - int(age)
weeks = years * 52

print(f"You have {weeks} left.")

 15

You have 3900 left.

# Final Project (Day 2) - TIP CALCULATOR:

* Code must have:

Mensagem de boas-vindas;

Input solicitando o valor da conta float(bill);

Input solicitando porcentagem de gorgeta int(tip), 10, 12 ou 15;

Input solicitando o numero de pessoas na mesa;

In [ ]:
# valor da conta
bill = float(input("Qual o valor da conta? R$ "))
# porcentagem da gorjeta
tip = int(input("Qual a porcentagem da gorjeta? 10, 12 ou 15 "))
# total de pessoas na mesa
people = int(input("Quantas pessoas irÃ£o dividir a conta? "))

# conversÃµes e calculos
# 1 - gorjeta para porcentagem
tip_as_percent = tip / 100
# 2 - novo valor da gorjeta = valor * gorjeta em porcentagem
tip_total = bill * tip_as_percent
# 3 - novo valor da conta = valor + gorjeta 
bill_amount = bill + tip_total
# 4 - valor por pessoa = novo valor da conta / people
bill_per_person = bill_amount / people
# 5 - valor final round(valor por pessoa, 2)
final_amount = round(bill_per_person, 2)

# Resultado Final 

print(f"Cada pessoa deverÃ¡ pagar: R$ {final_amount}")